body,
body  input,
body button,
body select,
body li,
body p,
body span {
    color: #666;
    font-family: "proxima-nova", sans-serif !important;
    font-size: 18px;
    line-height: 1.2;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    text-transform: none;
    color: #333;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    line-height: 1.2;
}

body h1 {
    color: #FFF; font-size: 42px;
}

body h2 {
    font-size: 32px;
}

body h3 {
    font-size: 22px;
}

body h4 {
    font-size: 22px !important;
}

body h2.alt{
    color: #0782c5;
}

body p.alt{
    font-size: 22px;
    line-height: 1.5;
}

@media (max-width: 767px) {
    body h1 {
        font-size: 35px;
    }
    body h2 {
        font-size: 26px;
    }
    body h3 {
        font-size: 20px;
    }
    body p {
        font-size: 16px;        
    }
    body p.alt {
        font-size: 18px;        
    }
}

/* Text Classes ------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------- */

.main-sicu-menu {
    width: 100%;
    position: relative;
    background-color: #fff;
    color: rgb(255, 255, 255);
    z-index: 15;
    height: 90px;
    overflow: visible;
}

.main-sicu-menu .sicu_logo {
    display:inline-block;
    margin-top: 15px;
    margin-left: -15px;
}
.main-sicu-menu .sicu_logo img{
    width: 40%;
}

.main-sicu-menu .main-nav-items {
    float: right;
}

.main-sicu-menu .main-nav-items .sub-menu-parent {
    margin: 28px 12px;
    display: inline-block;
    color: #000;
}



.main-sicu-menu .header-item {
    font-size: 16px;
    line-height: 40px;
    cursor: pointer;
    color: #444;
    font-weight: 700;
    text-decoration:none;
}

.main-sicu-menu .header-item:hover {
    color: #b3b6bf;
}

@media (max-width: 1200px) { 
    .main-sicu-menu .sicu_logo {
        display:inline-block;
        margin-top: 24px;
        margin-left: -10px;
        width: 136px;
    }

    .main-sicu-menu .sicu_logo img {
        width: 40%;
    }

    .main-sicu-menu .header-item {
        margin:10px 0;
        font-size: 14px;
        line-height: 40px;
        font-weight: 700;
        cursor: pointer;
    }

}

@media (max-width: 1000px) { 
    .main-sicu-menu .sicu_logo {
        display:inline-block;
        margin-top: 28px;
        margin-left: -10px;
        width: 136px;
    }

    .main-sicu-menu .sicu_logo img {
        width: 70%;
    }

    .main-sicu-menu .header-item {
        color: #fff;
        margin:10px 0;
        font-size: 10px;
        line-height: 40px;
        font-weight: 700;
        cursor: pointer;
    }

}

@media (max-width: 800px) {    

    .main-sicu-menu {
        display: none;
    }

}

/* *********** Upper Header ***************** */

.sicu_header {
  height:300px;
  /*background: url("https://static.pexels.com/photos/42273/doctor-medical-medicine-health-42273.jpeg");*/
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sicu_header h1 {
    color: #ff5a5f;
    font-weight: 600;
    font-size: 50px;
}

.sicu_header #header_content {
    display: table;
    height: 100%;
    width: 100%;
}

.sicu_header .header-buttons {
    margin-top: 60px;
}

.sicu_header .header-buttons img {
    margin-left: 10px;
}

.sicu_header #header_content > .t-center {
    display: table-cell;
    vertical-align: middle;
}

.t-center > a {
    margin-top: 30px;
}

.sicu_home_header .t-center {
    margin-top: 60px;

}

.sicu_home_header .phone-image {
    margin: 40px 0;
    float: right;
}

.sicu_home_header .phone-image img{
    width: 85%;
}

@media (max-width: 600px) {    

    .sicu_header .header-buttons img {
        margin-left: 10px;
        margin-bottom: 10px;
    }

}
